.filters {
  display: flex;
  gap: 16px;
  padding: 16px 20px;
  border-radius: 12px;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  z-index: 3;
  flex-wrap: wrap;
}

.search {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  max-width: 100%;
  width: 600px;
}

.desktopOnly {
  display: flex;
  gap: 16px;
}

.mobileTop {
  display: none;
  width: 100%;
  gap: 8px;
  @media (max-width: 768px) {
    display: flex;
  }
}

.mobileFiltersBtn {
  display: none;
  width: 48px;
  height: 48px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}


@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }

  .mobileFiltersBtn {
    display: block;
  }

  .filters {
    gap: 8px;
    flex-direction: column;
    align-items: stretch;
    padding: 12px;
  }
  .search {
    width: 100%;
  }
}
