.page {
  padding-top: 60px;
  padding-bottom: 60px;
  @extend .container;
  margin-bottom: 7.05rem;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.content {
  display: flex;
  gap: 40px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.tabs {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;

  button {
    background: none;
    border: none;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #333;
    transition: color 0.3s;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &.activeTab {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
