.page {
  position: relative;
  width: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}

.sidebar {
  width: 410px;
  height: 875px;
  border-radius: 12px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}

.pointsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}