.wrapper {
  height: 424px;
  overflow-y: scroll;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  gap: 1rem;
  @media (max-width: 768px) {
    height: 25%;
  }
}
