.card {
  width: 768px;
  height: 110px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  gap: 20px;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 160px;
  height: 100%;

  .image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .amount {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  font-size: 14px;

  .dateLabel,
  .linkLabel {
    color: #999;
  }

  .date,
  .link {
    color: #333;
  }

  .link {
    color: $primary-color;
    text-decoration: none;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.qrBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: $secondary-color;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
